---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import AccordionComponent from '../components/AccordionComponent.astro'
import Cursor from '../components/Cursor.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<Button title="Button"  type="primary" />
		<Button title="Button"  type="secondary" />
		<Button title="Button"  type="navLink" />
		<AccordionComponent />
		<Cursor />
	</main>
</Layout>

<style>
	

</style>


