---

import Layout from '../layouts/Layout.astro';
import AccordionComponent from '../components/AccordionComponent.astro'
import Cursor from '../components/Cursor.astro'
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Profiles from '../components/Profiles.astro';
import Footer from '../components/Footer.astro';
import Process from '../components/Process.astro';
import Jobs from '../components/Jobs.astro';

---

<Layout title="Jupiter Design | Diseño Gráfico">
	<main class="w-full relative flex flex-col items-center overflow-hidden">
		
		<Navbar />
		<About />
		<Jobs />
	<Services />
	{/*<Profiles />
	<Jobs />*/}
	<Process />

	<AccordionComponent />
		<Footer/>
		<Cursor />
		


		<span class="absolute  min-h-[100vh] w-full blur-xl"></span>
		<img src="land_Mesa1.png" alt="estrella" class="absolute w-[460px]  top-[40%] right-[-150px] xl:flex hidden ">
		<div class="absolute xl:top-[22%] gradient-bg w-full h-screen lg:flex hidden top-[20%] "></div>
		<img src="land_Mesa2.png" alt="estrella" class="absolute w-[460px]  top-[56%] left-[-150px] xl:flex hidden ">
		<img src="degradePagina.png" alt="" class="w-full h-screen absolute top-0 ">
	</main>
</Layout>

