---
import Button from "./Button.astro";
---

<div class="flex flex-col gap-10 my-40 w-[980px]">
    <div class="flex flex-col gap-3">
    <h1 class="text-6xl font-semibold text-white leading-[75px]">En Júpiter, creamos experiencias visuales únicas.</h1>
    <h3 class="text-2xl text-white font-light leading-10">Somos una agencia creativa dedicada a darle vida a tu visión con diseño estratégico y soluciones a medida.</h3>
    </div>
    <Button title="Hablemos" type="primary"/>
</div>