---
import Button from "./Button.astro";
---

<div class="flex flex-col gap-10 mb-20 pt-60 xl:w-[980px] w-full px-9 xl:px-0 items-center xl:items-start z-30" id="home">
    <div class="flex flex-col gap-8 xl:gap-3">
    <h1 class="text-4xl xl:text-6xl font-semibold text-white leading-10 xl:leading-[75px] max-xl:text-center">En Júpiter, creamos experiencias visuales únicas.</h1>
    <h2 class="text-lg xl:text-3xl text-white font-light leading-7 xl:leading-10  max-xl:text-center px-9 xl:px-0">Somos una agencia creativa dedicada a darle vida a tu visión con diseño estratégico y soluciones a medida.</h2>
    </div>
    <a href="https://api.whatsapp.com/send?phone=542613012708"  target="_blank" rel="noopener noreferrer"><Button title="Hablemos" type="primary"/></a>
</div>