---
import { Accordion, AccordionItem } from 'free-astro-components'
---

<Accordion  >
  <AccordionItem title="Accordion 1">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Quidem asperiores, ut, atque non inventore, fugit sed
      totam explicabo quisquam itaque omnis eius eveniet rem vel
      pariatur. Alias, expedita ratione! Animi.
    </p>
  </AccordionItem>
  <AccordionItem title="Accordion 2">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Quidem asperiores, ut, atque non inventore, fugit sed
      totam explicabo quisquam itaque omnis eius eveniet rem vel
      pariatur. Alias, expedita ratione! Animi.
    </p>
  </AccordionItem>
  <AccordionItem title="Accordion 3">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Quidem asperiores, ut, atque non inventore, fugit sed
      totam explicabo quisquam itaque omnis eius eveniet rem vel
      pariatur. Alias, expedita ratione! Animi.
    </p>
  </AccordionItem>
</Accordion>

<style>
  span {

  color: rgb(var(--ac-white));
}
</style>