---
import { Accordion, AccordionItem } from 'free-astro-components'
---
<div class="flex flex-col xl:w-[980px] w-full px-9 xl:px-0 py-12 mb-20 gap-8 pt-28" id="preguntas">
  <div class="flex flex-col gap-3 items-center">
    <h2 class="text-4xl xl:text-5xl font-semibold text-textColor ">Preguntas frecuentes</h2>
    <h3 class="text-lg xl:text-2xl text-textColor font-light">Las preguntas más comunes que nos hacen.</h3>
</div>
<Accordion  >
  <AccordionItem title="¿Cómo puedo solicitar un presupuesto?">
    <p class="text-textColor">
      Para solicitar un presupuesto, debes agendar una videollamada con nosotros, esto no tiene costo y nos ayudara a entender tus necesidades.
    </p>
  </AccordionItem>
  <AccordionItem title="¿Cómo se realiza el pago?">
    <p class=" text-textColor">
      Aceptamos pagos mediante transferencia bancaria, tarjetas de crédito y otros métodos electrónicos. Ofrecemos la opción de pagos parciales según el avance del proyecto o pago único al inicio o finalización del trabajo, dependiendo de lo acordado.
    </p>
  </AccordionItem>
  <AccordionItem title="¿Qué incluye el servicio de manejo de redes sociales?">
    <p>
      Nuestro servicio de manejo de redes sociales incluye:
      <ul>
        <li>1 - Creación y curación de contenido visual y escrito.
        </li>
        <li>2 - Estrategias de crecimiento y optimización.</li>
        <li>3 - Publicaciones regulares y seguimiento de interacción con la audiencia.</li>
        <li>4 - Reportes mensuales de rendimiento y ajustes según resultados.</li>
</ul>
    </p>
  </AccordionItem>
  <AccordionItem title="¿Cuánto tiempo toma crear una página web?">
    <p>
      El tiempo de desarrollo depende de la complejidad de la web. En promedio, un sitio web básico puede tomar entre 3 a 6 semanas, mientras que un sitio web más complejo con funcionalidades avanzadas puede demorar hasta 8 semanas o más. Durante la reunión inicial te daremos una estimación más precisa según tus necesidades.
    </p>
  </AccordionItem>
  <AccordionItem title="¿Pueden diseñar tiendas en línea?">
    <p>
      Sí, diseñamos y desarrollamos tiendas en línea completamente funcionales, con integración de pasarelas de pago, gestión de inventario y optimización para dispositivos móviles. Nos aseguramos de que tu tienda esté lista para vender en línea de manera efectiva.
    </p>
  </AccordionItem>
  <AccordionItem title="¿Ofrecen soporte técnico para las páginas web?">
    <p >
      Sí, ofrecemos soporte técnico para garantizar que tu sitio web esté siempre actualizado, seguro y funcionando sin problemas. Además, ofrecemos planes de mantenimiento mensuales si necesitas actualizaciones frecuentes o ajustes a largo plazo.
    </p>
  </AccordionItem>
  <AccordionItem title="¿Que tipo de clientes contratan el servicio?">
    <p>
      Trabajamos ayudando a todos los tipos de clientes, desde particulares hasta grandes empresas. Cada proyecto es un proceso de crecimiento y evolución.
    </p>
  </AccordionItem>

</Accordion>
</div>

