---
interface Props {
	title: string;
    paddingX?: string;
    type: "primary" | "secondary" | "navLink" ;
	icon?: string
}

const { title, type, paddingX, icon } = Astro.props;
---


	<button class=`text-white py-3 text-xl rounded-xl gap-2 flex items-center w-min font-normal ${paddingX ? paddingX : "px-5"} ${type === "primary" ? "bg-primary hover:bg-[#D26314] interactive-button " : type === "secondary" ? "hover:text-primary border border-white hover:border-primary" : type === "navLink" ? "hover:text-primary group" : "hidden"} `>
			{icon && <img src={icon} alt={title} />}{title}
	</button>

	
