---
interface Props {
	title: string;
	body: string;
	header: string;
}

const {  title, body , header} = Astro.props;
---

<li class="relative flex flex-col border-small border-borderColor rounded-3xl p-6 gap-6 w-full xl:h-[280px] xl:w-[480px] overflow-hidden group">
		<span class="text-primary text-xl font-normal relative z-40">
			{header}
		</span>
		<h4 class="text-white text-2xl font-semibold relative z-40">
			{title}
		</h4>
		<p class="text-white text-xl font-light leading-7 mb-16 relative z-40">
			{body}
		</p>
		<span class="absolute top-0 left-0 w-full h-full z-30 backdrop-blur-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-100"></span>
  
		<span class="absolute top-0 left-28 bg-backgroundPrimary z-20 h-[800px] w-[800px] rounded-3xl opacity-0 transition-opacity duration-300 group-hover:opacity-100"></span>
</li>

