<!-- Este componente será exclusivo del cliente -->
<div class="cursor"></div>


<style>
  body {
    /*cursor: none; /* Oculta el cursor por defecto */
  }

  .cursor {
    width: 14px;
    height: 14px;
    background-color: #F4881C;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s; /* Suaviza el cambio de color */
  }
  .cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px; /* Tamaño más grande */
    height: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #F4881C 0%, rgba(244, 136, 28, 0.00) 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1; /* Para que quede detrás del cursor */
    filter: blur(20px);
  }
  .interactive-button {
    margin: 50px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(13, 13, 13);
    color: white;
     /* Cambia el cursor por defecto al pasar sobre el botón */
  }

  .interactive-button:hover {
    background-color: rgb(13, 13, 13);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const cursor = document.querySelector('.cursor') as HTMLElement;
    const interactiveElements = document.querySelectorAll('.interactive-button');
    if (!cursor) return;

    // Variables para el efecto de suavizado
    let mouseX = 0;
    let mouseY = 0;
    let cursorX = 0;
    let cursorY = 0;
    const speed = 0.1; // Ajusta la velocidad del efecto de suavizado

    // Evento de movimiento del ratón
    document.addEventListener('mousemove', (e) => {
      mouseX = e.pageX;
      mouseY = e.pageY;
    });

    // Función para actualizar la posición del cursor
    const updateCursor = () => {
      cursorX += (mouseX - cursorX) * speed;
      cursorY += (mouseY - cursorY) * speed;
      cursor.style.left = `${cursorX}px`;
      cursor.style.top = `${cursorY}px`;
      requestAnimationFrame(updateCursor);
    };

    // Inicializa la posición del cursor en el lugar del ratón
    cursorX = mouseX;
    cursorY = mouseY;
    cursor.style.left = `${cursorX}px`;
    cursor.style.top = `${cursorY}px`;

    // Inicia la actualización del cursor
    updateCursor();

    // Cambia el color del cursor al pasar sobre un botón
    interactiveElements.forEach((element) => {
      element.addEventListener('mouseenter', () => {
        cursor.style.backgroundColor = 'rgb(13, 13, 13)'; // Cambia el color del cursor
      });
      

      element.addEventListener('mouseleave', () => {
        cursor.style.backgroundColor = '#F4881C'; // Reestablece el color del cursor
      });
    });


  });
</script>
