---
import Button from "./Button.astro";

const titlesNavLink = ['Servicios', 'Nosotros', 'Proyectos', 'Proceso'];
const titlesRrss = [
    {title:'Instagram',  href: "https://www.instagram.com/jupiterrdesign_/"},
    {title:'Linkedin',  href: "https://www.linkedin.com/company/104610019/admin/inbox/"},
    {title: 'Tiktok',  href: "https://www.tiktok.com/@jupiterrdesign_"},
    {title:  'Gmail',  href: "mailto:jupiterdesignstudio24@gmail"},
    ];
---
<>
<div class="px-12 w-full">
<hr class="border-small  border-borderColor w-full  ">
</div>
<div class="relative flex xl:flex-row flex-col justify-between items-center xl:px-40 py-20 w-full xl:gap-0 gap-8 overflow-hidden" >
    <div 
  class="relative transition-transform duration-500 hover:scale-90 divRotate z-30"
  style="perspective: 1000px;" 
  
>
  <img 
    src="/Isotipo-blanco.svg" 
    alt="Isotipo de Jupiter Design, empresa de diseño gráfico" 
    class="w-full h-auto transition-transform duration-1000 transform"
    style="transform: rotateY(0deg); transform-style: preserve-3d;"
    onmouseover="this.style.transform='rotateY(360deg)'"

  >
</div>
<div class="flex xl:gap-40 z-20">
    <div class="flex flex-col gap-2">
        {titlesNavLink.map((title) => <Button title={title} type="navLink" />)}
        
    </div>

    <div class="flex flex-col gap-2">
        {titlesRrss.map((title) => 
        <a href={title.href} target="_blank" rel="noopener noreferrer" class="flex gap-2">
            
        <Button title={title.title}  type="navLink" icon  />
        </a>)
        }

    </div>
</div>

<span class="absolute bottom-[-1200px] right-[800px] bg-backgroundPrimary z-0 h-[1600px] w-[1600px] rounded-3xl "></span>
</div>
</>
<style>
    .divRotate:hover img {
        transform: rotateY(360deg);
    }
</style>