---
import Button from "./Button.astro";

const titlesNavLink = ['Servicios', 'Nosotros', 'Proyectos', 'Proceso'];
const titlesRrss = [
    {title:'Instagram', icon: "/instagram-brands-solid.svg"},
    {title:'Linkedin', icon: "/linkedin-in-brands-solid.svg"},
    {title: 'Tiktok', icon: "/tiktok-brands-solid.svg"},
    {title:  'Gmail', icon: "/at-solid.svg"}
    ];
---
<>
<hr class="border-small  border-primary">
<div class="flex justify-between items-center">
    <img src="/Isotipo-blanco.svg" alt="Isotipo de Jupiter Design, empresa de diseño gráfico">
    <ul class="flex flex-col gap-2">
        {titlesNavLink.map((title) => <Button title={title} type="navLink"/>)}
        
    </ul>

    <ul class="flex flex-col gap-2">
        {titlesRrss.map((title) => <Button title={title.title} type="navLink" icon={title.icon}/>)}

    </ul>

</div>
</>