---
import Button from "./Button.astro";

const titlesNavLink = ['Servicios', 'Nosotros', 'Proyectos', 'Proceso'];
const titlesRrss = [
    {title:'Instagram', icon: "/instagram-brands-solid.svg", altIcon:"Instagram de Jupiter Design, empresa de diseño gráfico"},
    {title:'Linkedin', icon: "/linkedin-in-brands-solid.svg", altIcon:"Linkedin de Jupiter Design, empresa de diseño gráfico"},
    {title: 'Tiktok', icon: "/tiktok-brands-solid.svg", altIcon:"Tiktok de Jupiter Design, empresa de diseño gráfico"},
    {title:  'Gmail', icon: "/at-solid.svg", altIcon:"Gmail de Jupiter Design, empresa de diseño gráfico"}
    ];
---
<>
<div class="px-12 w-full">
<hr class="border-small  border-borderColor w-full ">
</div>
<div class="flex justify-between items-center px-40 py-20 w-full" >
    <img src="/Isotipo-blanco.svg" alt="Isotipo de Jupiter Design, empresa de diseño gráfico">
    <div class="flex flex-col gap-2">
        {titlesNavLink.map((title) => <Button title={title} type="navLink"/>)}
        
    </div>

    <div class="flex flex-col gap-2">
        {titlesRrss.map((title) => <Button title={title.title} altIcon ={title.altIcon} type="navLink" icon={title.icon}/>)}

    </div>

</div>
</>