---
import CardProfile from "./CardProfile.astro";

const cards = [
    {
        image :"/marianela-profile.webp",
        title:"Mar",
        subTitle:"Diseñadora",
        body:""
    }, 
    {
        image :"/julian-profile.webp",
        title:"Julián",
        subTitle:"Programador",
        body:""
    }
]
---

<div class="w-[980px] flex flex-col items-center gap-8 mb-40 pt-28" id="proyectos" >
    <div class="flex flex-col gap-3 items-center">
    <h2 class="text-5xl font-semibold text-white ">Proyectos</h2>
    <h3 class="text-2xl text-white font-light">Descubre algunos de nuestros proyectos recientes.</h3>
</div>
    

</div>