---
import Button from "./Button.astro";

// Datos del menú
const titlesNavLink = ['Proyectos','Servicios' , 'Proceso', 'Preguntas'];
---
<div class="flex justify-center fixed w-full z-50  pb-3 pt-9 transition-colors duration-300 navbar" id="navbar">
    <div class="flex justify-between items-center xl:w-[980px] w-full px-9 xl:px-0">
      <!-- Logo -->
      <div id="logoContainer">
        <a href="#home" class="relative z-20">
          <img src="/logo.png" alt="Logo de Jupiter Design" id="logoWhite" class="block" />
          <img src="/logo-negro.png" alt="Logo de Jupiter Design Negro" id="logoBlack" class="hidden w-[71px]" />
        </a>
      </div>
  
      <!-- Menú en pantallas grandes -->
      <div class="hidden md:flex space-x-4">
        {titlesNavLink.map((title) => (
          <a href={`#${title.toLowerCase()}`} class="menu-link text-white transition-colors duration-300">
            <Button title={title} type="navLink" />
          </a>
        ))}
      </div>
  
      <!-- Ícono de hamburguesa para pantallas pequeñas -->
      <i 
        class="fa-solid fa-bars md:hidden text-white text-3xl cursor-pointer relative z-20 "
        id="menutoggle">
      </i>
  
      <!-- Menú de contacto en pantallas grandes -->
      <div class="hidden md:flex menu-link">
        <a href="https://api.whatsapp.com/send?phone=542634224847" target="_blank" rel="noopener noreferrer">
          <Button title="Contáctanos" type="navLink" />
        </a>
      </div>
    </div>
  
    <!-- Menú desplegable en pantallas pequeñas -->
    <div class="md:hidden w-full absolute top-0 left-0 pt-28 pb-10 px-4 flex flex-col h-screen items-center bg-[#1B1B1B] text-white transition-transform duration-300 ease-in-out transform -translate-y-full" id="menu">
        {titlesNavLink.map((title) => (
          <a href={`#${title.toLowerCase()}`} class="py-2  text-white transition-colors duration-300">
            <Button title={title} type="navLink" />
          </a>
        ))}
        <div class="mt-4">
          <a href="https://api.whatsapp.com/send?phone=542634224847"  target="_blank" rel="noopener noreferrer">
            <Button title="Contáctanos" type="secondary" />
          </a>
        </div>
    </div>
</div>

<script>
import Navbar from "./Navbar.astro";

document.addEventListener("DOMContentLoaded", () => {
  const menuButton = document.getElementById("menutoggle");
  const menu = document.getElementById("menu");
  const menuLinks = document.querySelectorAll(".menu-link");
  const logoWhite = document.getElementById("logoWhite");
  const logoBlack = document.getElementById("logoBlack");
  const navbar = document.getElementById("navbar");

  let isMenuOpen = false; // Flag para saber si el menú está abierto

  // Función para abrir/cerrar el menú
  const toggleMenu = () => {
    isMenuOpen = !isMenuOpen;

    if (isMenuOpen) {
      menu?.classList.remove("-translate-y-full");
      menu?.classList.add("translate-y-0");
      menuButton?.classList.remove("fa-bars");
      menuButton?.classList.add("fa-times");
      
      menuButton?.classList.remove("text-black"); // Asegurar que no quede negro
      menuButton?.classList.add("text-white"); // Siempre blanco cuando está abierto
    } else {
      menu?.classList.remove("translate-y-0");
      menu?.classList.add("-translate-y-full");
      menuButton?.classList.remove("fa-times");
      menuButton?.classList.add("fa-bars");

      // Si está en la parte superior, el ícono vuelve a blanco
      if (window.scrollY < window.innerHeight * 0.8) {
        menuButton?.classList.remove("text-black");

        menuButton?.classList.add("text-white");
      } else {
        menuButton?.classList.add("text-black");
      }
    }
  };

  // Evento para abrir/cerrar menú al hacer clic en el botón
  menuButton?.addEventListener("click", toggleMenu);

  // Evento para cerrar el menú al hacer clic en cualquier enlace
  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      if (isMenuOpen) {
        toggleMenu();
      }
    });
  });

  // Evento para cambiar el color del ícono y el logo al hacer scroll
  window.addEventListener("scroll", () => {
    const isScrolled = window.scrollY > window.innerHeight * 0.8;

    // Cambiar color de los links
    menuLinks.forEach((link) => {
      link.classList.toggle("text-black", isScrolled);
      link.classList.toggle("text-white", !isScrolled);
      
      const button = link.querySelector("button");
      if (button) {
        button.classList.toggle("text-black", isScrolled);
        button.classList.toggle("text-white", !isScrolled);
      }
    });

    // Cambiar el logo según el scroll
    if (isScrolled) {
      logoWhite?.classList.add("hidden");
      logoBlack?.classList.remove("hidden");
      menuButton?.classList.add("text-black");
      menuButton?.classList.remove("text-white");
      navbar?.classList.add("backdrop-blur-lg");
    } else {
      logoWhite?.classList.remove("hidden");
      logoBlack?.classList.add("hidden");

      // Si el menú está cerrado, el ícono vuelve a blanco
      if (!isMenuOpen) {
        menuButton?.classList.remove("text-black");
        menuButton?.classList.add("text-white");
      }
      navbar?.classList.remove("backdrop-blur-lg");

    }
  });
});

</script>
