---

---
<div class="flex flex-col gap-8 mb-20 items-center w-full pt-28" id="proceso">
    <div class="flex flex-col gap-3 items-center xl:px-40 px-9 ">
    <h2 class="text-4xl xl:text-5xl font-semibold text-white">Nuestro Proceso</h2>
    <h3 class="text-lg xl:text-2xl text-white font-light text-center">En Júpiter, creemos que el proceso creativo es tan importante como el resultado final. Nuestra metodología incluye:</h3>
</div>
    <div class=" gap-4 w-full">
        <div class="w-full xl:pl-32 pl-9">
        <hr class="border-primary border relative top-3 w-full"/>
    </div>
    <ul class="grid grid-cols-3 gap-4  lg:gap-12 xl:px-32 px-9">
    <li class="flex flex-col ">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
        
		<span class="text-primary text-xl font-normal">
			01
		</span>
		<h4 class="text-white text-xl lg:text-2xl font-semibold ">
			Exploración inicial
		</h4>
		<p class="text-white text-lg lg:text-xl font-light leading-7 mb-16">
			Comenzamos con una profunda investigación para entender tus objetivos, audiencias y el mercado.
		</p>
    </li>
    <li class="flex flex-col ">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
  
		<span class="text-primary text-xl font-normal">
			02
		</span>
		<h4 class="text-white text-xl lg:text-2xl font-semibold">
            Estrategia creativa
		</h4>
		<p class="text-white text-lg lg:text-xl font-light leading-7 mb-16 ">
            Desarrollamos un plan claro que define el tono visual y la dirección estrategica del proyecto.
		</p>
    </li>
    <li class="flex flex-col ">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
 
        <span class="text-primary text-xl font-normal">
            03
        </span>
        <h4 class="text-white text-xl lg:text-2xl font-semibold">
            Diseño y diseño
        </h4>
        <p class="text-white text-lg lg:text-xl font-light leading-7 mb-16 ">
            Aquí es donde ocurre la magia. Creamos soluciones visuales alineadas con la estrategia.
        </p>
    </li>
</ul>
<hr style="width: calc(33.333% + 4rem)" class="border-primary border relative top-3 "/>
<ul class="grid grid-cols-3 gap-4  lg:gap-12 xl:px-32 px-9">
    
    <li class="flex flex-col ">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
        
        <span class="text-primary text-xl font-normal">
            04
        </span>
        <h4 class="text-white text-xl lg:text-2xl font-semibold">
            Revisión y ajuste
        </h4>
        <p class="text-white text-lg lg:text-xl font-light leading-7 mb-16 ">
            Trabajamos contigo para perfeccionar cada detalle y asegurar que el resultado supere tus expectativas.
        </p>
    </li>
    <li class="flex flex-col ml-8 lg:ml-0">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>

        <span class="text-primary text-xl font-normal">
            05
        </span>
        <h4 class="text-white text-xl lg:text-2xl font-semibold w-40 lg:w-full">
            Entrega e implementación
        </h4>
        <p class="text-white text-lg lg:text-xl font-light leading-7 mb-16 w-40 lg:w-full">
            Te entregamos el proyecto final, listo para destacar en el mundo digital y específico.
        </p>
    </li>
</ul>
</div>

</div>