---

---
<div class="flex flex-col gap-8 mb-20 items-center w-full pt-28" id="proceso">
    <div class="flex flex-col gap-3 items-center xl:px-40 px-9 ">
    <h2 class="text-4xl xl:text-5xl font-semibold text-textColor">NUESTRO PROCESO</h2>
    <h3 class="text-lg xl:text-2xl text-textColor font-light text-center">EN JUPITER, CREEMOS QUE EL PROCESO CREATIVO ES TAN IMPORTANTE COMO EL RESULTADO FINAL. NUESTRA METODOLOGIA INCLUYE:</h3>

</div>

    <div class=" gap-4 w-full  ">

        <div class="w-full xl:pl-32 pl-9  sm:flex hidden">
        <hr class="border-primary border relative top-3 w-full  "/>
    </div>
    <ul class="grid sm:grid-cols-3 gap-4  lg:gap-12 xl:px-32 px-9 ">
    <li class="flex sm:flex-col flex-row gap-4 items-start sm:gap-0">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 sm:mb-6"/>
        <div>
        
		<span class="text-primary text-xl font-normal">
			01
		</span>
		<h4 class="text-textColor text-xl lg:text-2xl font-semibold ">
			Exploración inicial
		</h4>
		<p class="text-textColor text-lg lg:text-xl font-light leading-7 sm:mb-16">
			Comenzamos con una profunda investigación para entender tus objetivos, audiencias y el mercado.
		</p>
        </div>
    </li>
    <li class="flex sm:flex-col flex-row gap-4 items-start sm:gap-0">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
        <div>
		<span class="text-primary text-xl font-normal">
			02
		</span>
		<h4 class="text-textColor text-xl lg:text-2xl font-semibold">
            Estrategia creativa
		</h4>
		<p class="text-textColor text-lg lg:text-xl font-light leading-7 sm:mb-16 ">
            Desarrollamos un plan claro que define el tono visual y la dirección estrategica del proyecto.
		</p>
    </div>
    </li>
    <li class="flex sm:flex-col flex-row gap-4 items-start sm:gap-0 ">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
 <div>
        <span class="text-primary text-xl font-normal">
            03
        </span>
        <h4 class="text-textColor text-xl lg:text-2xl font-semibold">
            Diseño y desarrollo
        </h4>
        <p class="text-textColor text-lg lg:text-xl font-light leading-7 sm:mb-16 ">
            Aquí es donde ocurre la magia. Creamos soluciones visuales alineadas con la estrategia.
        </p>
    </div>
    </li>
</ul>
<hr style="width: calc(33.333% + 4rem)" class="border-primary border relative top-3 sm:flex hidden "/>
<ul class="grid  sm:grid-cols-3 gap-4  lg:gap-12 xl:px-32 px-9">
    
    <li class="flex sm:flex-col flex-row gap-4 items-start sm:gap-0 ">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
        <div>
        <span class="text-primary text-xl font-normal">
            04
        </span>
        <h4 class="text-textColor text-xl lg:text-2xl font-semibold">
            Revisión y ajuste
        </h4>
        <p class="text-textColor text-lg lg:text-xl font-light leading-7 sm:mb-16 ">
            Trabajamos contigo para perfeccionar cada detalle y asegurar que el resultado supere tus expectativas.
        </p>
    </div>
    </li>
    <li class="flex sm:flex-col sm:ml-8 lg:ml-0 flex-row gap-4 items-start sm:gap-0">
        <img src="punto-naranja.svg" alt="Punto naranja Jupiter" class="w-6 mb-6"/>
<div>
        <span class="text-primary text-xl font-normal">
            05
        </span>
        <h4 class="text-textColor text-xl lg:text-2xl font-semibold ">
            Entrega e implementación
        </h4>
        <p class="text-textColor text-lg lg:text-xl font-light leading-7 sm:mb-16 ">
            Te entregamos el proyecto final, listo para destacar en el mundo digital y específico.
        </p>
    </div>
    </li>
</ul>
</div>

</div>