---
import CardProfile from "./CardProfile.astro";

const cards = [
    {
        image :"/marianela-profile.webp",
        title:"Mar",
        subTitle:"Diseñadora",
        body:"Hola yo me encargo de la parte creativa y te ayudare a que tu proyecto se convierta en una marca."
    }, 
    {
        image :"/julian-profile.webp",
        title:"Julián",
        subTitle:"Programador",
        body:"Hola yo me encargo de la creacion de sitios web y que tu pagina se posicione en el primer lugar."
    }
]
---

<div class="w-[980px] flex flex-col items-center gap-8 mb-40">
    <div class="flex flex-col gap-3 items-center">
    <h2 class="text-5xl font-semibold text-white ">¿Quiénes somos?</h2>
    <h3 class="text-2xl text-white font-light">Somos un equipo de creativos apasionados por el diseño y la comunicación visual.</h3>
</div>
    <div class="grid grid-cols-2 gap-4">
    {cards.map ((card) => <CardProfile image={card.image} title={card.title} subTitle={card.subTitle} body={card.body}/>)}
    </div>

</div>