---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

:root {
  --ac-transparent: transparent;
  --ac-current: currentColor;
  --ac-white: 255, 255, 255;
  --ac-primary: 64, 93, 255;
  --ac-secondary: 98, 251, 213;
  --ac-dark: 22, 22, 22;
  --ac-gray-100: 232, 232, 232;
  --ac-gray-200: 185, 185, 185;
  --ac-gray-300: 139, 139, 139;
  --ac-gray-400: 92, 92, 92;
  --ac-gray-500: 45, 45, 45;
  --ac-success: 0, 255, 0;
  --ac-warning: 255, 255, 0;
  --ac-danger: 255, 0, 0;

}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	
	
</style>
