---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Open Graph Meta Tags -->
    <meta
      property="og:title"
      content="Jupiter Design | Diseños Gráficos Creativos y Personalizados"
    />
    <meta
      property="og:description"
      content="Descubre los servicios de diseño gráfico de Jupiter Design. Ofrecemos branding, ilustración, logotipos y diseño web para marcas que buscan destacar con creatividad."
    />
    <meta
      property="og:image"
      content="/pagina-personal/public/Isotipo-blanco.svg"
    />
    <meta property="og:url" content="https://www.jupiterdesign.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Jupiter Design" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Jupiter Design | Diseños Gráficos Creativos y Personalizados"
    />
    <meta
      name="twitter:description"
      content="Explora servicios de diseño gráfico innovadores. Branding, logotipos, ilustración y diseño web personalizados para tu marca."
    />
    <meta
      name="twitter:image"
      content="/pagina-personal/public/Isotipo-blanco.svg"
    />
    <meta name="twitter:site" content="@JupiterDesign" />
	<!-- Canonical URL -->
    <link rel="canonical" href="https://www.jupiterdesign.com.ar" />
	<!-- Schema -->
	<script type="application/ld+json">{
		"@context": "https://schema.org",
		"@type": "Organization",
		"name": "Jupiter Design",
		"url": "https://www.jupiterdesign.com",
		"logo": "logo-blanco.svg",
		"sameAs": [
		  "jupiterdesignstudio24@gmail.com",
		  "https://www.instagram.com/jupiterrdesign_/",
		  "https://www.linkedin.com/company/104610019/admin/inbox/"
		],
		"contactPoint": {
		  "@type": "ContactPoint",
		  "telephone": "+54 - 2613012708",
		  "contactType": "Customer Service",
		  "areaServed": "Worldwide",
		  "availableLanguage": [ "Spanish"]
		},
		"address": {
		  "@type": "PostalAddress",
		  "streetAddress": "Calle Miller",
		  "addressLocality": "Mendoza",
		  "addressRegion": "Mendoza",
		  "postalCode": "5519",
		  "addressCountry": "AR"
		},
		"description": "Explora diseños gráficos innovadores y creativos. Servicios de diseño personalizado para marcas que buscan destacar."
	  }
	  </script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Explora diseños gráficos innovadores y creativos. Servicios de diseño personalizado para marcas que buscan destacar."
    />
    <meta
      name="keywords"
      content="diseño gráfico, branding, diseño web, ilustración, logotipos, logo, logos, marcas, marca, marcas de marca, marketing, marketing digital, marketing online, marketing digital, redes sociales"
    />
    <meta name="author" content="Jupiter Design" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

  html {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFFFFF" d="M4.5.79v22.42l6.56-6.57h9.29L4.5.79z"></path></svg>'),
      auto;
    font-family: Jost, sans-serif;
    background: #1B1B1B;
    width: 100%;
    scroll-behavior: smooth;
  }
  .ac-accordion {
    border-color: rgb(244, 136, 28) !important;
    border-radius: 24px !important;
    border: #767676 1px solid !important;
    color: white !important;
    padding: 8px 30px !important;
  }
  .ac-accordion-item {
    border: none !important;
  }
  .ac-accordion-item-title {
    color: white !important;
    font-family: Jost, sans-serif !important;
    font-size: 20px !important;
  }
  
  .ac-accordion-item-title path {
    color: rgb(244, 136, 28) !important;
    width: 50px !important;
  }
  @media (max-width: 768px) {
    .ac-accordion-item-title span { 
      width: 50px !important;
      }
  }
  
  .slick-arrow {
  background-color: #F4881C !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  width: 42px !important;
  height: 42px !important;
  display: flex !important;
  justify-content: center !important;
  justify-items: center;
  align-items: center !important;
  color: #000000 !important;
  inset-inline-end: -45px !important;
}
.slick-arrow::after {
  position: relative !important;
  top: 0 !important;
}
.slick-next {
  padding: 0px 8px 0px 0px !important;
}
.slick-prev {
  padding: 0px 0px 0px 2px !important;
  inset-inline-start: -45px !important;
}
@media (max-width: 768px) {
  .slick-arrow {
  inset-inline-end: -10px !important;
}
  .slick-prev {
  inset-inline-start: -10px !important;
}
}

</style>
